<div class="field">
  <%= f.label :nome %>
  <%= f.text_field :nome %>
</div>

<div class="field">
  <%= f.label :cpf %>
  <%= f.text_field :cpf %>
</div>

<div class="field">
  <%= f.label :rg %>
  <%= f.text_field :rg %>
</div>

<div class="field">
  <%= f.label :telefone %>
  <%= f.text_field :telefone %>
</div>

<div class="field">
  <%= f.label :secretaria %>
  <%= f.select :secretaria, Secretaria.all.map { |secretaria| [secretaria.nome, secretaria.id] } %>
</div>

<div class="field">
  <%= f.label :unidade %>
  <%= f.select :unidade, Unidade.all.map { |unidade| [unidade.nome, unidade.id] } %>
</div>

<div class="field">
  <%= f.label :cargo %>
  <%= f.text_field :cargo %>
</div>
