<p style="color: green"><%= notice %></p>

<%= render @visitante %>

<div>
  <%= link_to "Edit this visitante", edit_visitante_path(@visitante) %> |
  <%= link_to "Back to visitantes", visitantes_path %>

  <%= button_to "Destroy this visitante", @visitante, method: :delete %>
</div>
